@import "vars";
@import "mixins";

@include base;

header {
  nav {
    display: flex;
    justify-content: center;
    background-color: $blue;
    color: white;
    font-weight: bold;

    .icon {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin: 0px 15px;
      width: 20%;

      img {
        width: 20%;
      }
    }

    .list_items {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.reservation_form {
  background-image: url("../images/greece.jpeg");
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  form {
    background-color: $form;
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;

    .reservations,
    .directions {
      display: flex;
      flex-wrap: wrap;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        cursor: pointer;

        li {
          color: white;
          font-size: 24px;
          margin: 5px 15px;
          padding: 5px 15px;

          &:hover {
            background-color: $buttons;
          }
        }
      }
    }

    .inputs {
      display: flex;
      justify-content: center;
      color: white;
      margin-top: 20px;

      input,
      button {
        height: 50px;
        background-color: $buttons;
        margin: 0px 10px;
        color: white;
        padding: 0px 5px;
        width: 10%;
        font-size: 15px;
        border: none;
      }

      button {
        background-color: $red;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.section1 {
  height: 350px;

  .heading {
    @include heading;
  }

  .destinations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;

    .destination_item {
      height: 300px;
      width: 20%;
      margin: 5px 25px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: 0.5s ease;

      img {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        position: relative;
        transition: opacity 0.5s ease;
      }

      .destination_info {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        bottom: 55px;
        color: white;

        transition: color 0.5s ease, opacity 0.5s ease;
      }

      &:hover {
        img {
          opacity: 0.7;
        }

        .destination_info {
          color: black;
          opacity: 1;
        }
      }
    }
  }
}

.section2 {
  height: 480px;

  .heading {
    @include heading;
  }

  .premium {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .box {
      height: 450px;
      width: 18%;
      margin: 15px 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: justify;

      .box_heading {
        text-transform: uppercase;
        font-size: 18px;
        color: $blue;
        margin-bottom: 20px;
      }

      img {
        width: 150px;
        margin-bottom: 10px;
      }

      .description {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .price {
        color: $blue;
      }

      a {
        color: $blue;
        margin-bottom: 15px;
      }

      button {
        border: none;
        background-color: $blue;
        color: white;
        width: 70%;
        height: 40px;
        cursor: pointer;

        transition: transform 0.3s ease;

        &:hover {
          @include scale(1.2);
        }
      }
    }
  }
}

@include medium_screen {

  .reservation_form form {
    width: 90%;
  }

  .reservations {
    border-bottom: 1px solid red;
  }

  .section1 {
    height: 700px;

    .destinations {
      height: 700px;

      .destination_item {
        width: 30%;

        .destination_info {

          &:nth-child(3),
          &:nth-child(4) {
            bottom: -300px;
          }
        }
      }
    }
  }

  .section2 {
    height: 1000px;

    .premium .box {
      width: 30%;
    }
  }
}

@include small_screen {
  nav {
    flex-direction: column;

    ul {
      flex-direction: column;
      display: none;
      width: 100%;

      li {
        display: none;
      }
    }

  }

  nav:hover {
    li {
      display: flex;
    }
  }

  .reservation_form {
    height: 700px;

    form {
      width: 90%;
      height: 500px;

      .reservations,
      .directions {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .first_list {
          display: flex;
          flex-direction: column;
        }
      }

      .inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin-top: 20px;

        input,
        button {
          margin: 10px 10px;
          width: 40%;
        }
      }
    }
  }

  .section1 .destinations .destination_item {
    width: 40%;
    margin: 5px;
  }

  .section2 {
    height: 2500px;
    border: 1px solid black;

    .premium .box {
      width: 60%;
    }
  }
}