@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$roboto: 'Roboto', sans-serif;

$blue: #386ab1;
$gray: #f6f6f6;
$form: #0F213F;
$buttons: #3B486A;
$red: #c2002d;
$gray_text_color: #7a7a7a;